@import 'screen320px.scss';
@import 'screen768px.scss';
@import 'screen1120px.scss';

:root {
  --white: #FFFFFF;
  --main: #FF9514;
  --black: #000000;
  --black-text: #111111;
  --gray-text-small: #575757;
  --gray-text-big: #333333;
  --gray-main: #F3F3F4;
  --gray-fee: #e0e0e0;
  --disabled: rgba(255, 149, 20, 0.4);
  --text-disabled: #9a9a9a;

}

@font-face {
  font-weight: 400;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf")
}

@font-face {
  font-weight: 400;
  font-family: "Nekst";
  src: url("../fonts/Nekst-Black.ttf");
}

body {
  margin: 0;
  font-family: "Nekst", "Gilroy";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@mixin normal($hgt, $mt, $top, $rl) {
  .wrapper-normal {
    margin-top: $mt;
    position: relative;
  }

  .inp-normal {
    box-sizing: border-box;
    height: $hgt;
    width: 100%;
    background: var(--gray-main);
    border: 0px;
    border-radius: 16px;
    padding-left: $rl;
  }

  .wrapper-normal span {
    position: absolute;
    top: $top;
    right: $rl;
  }
}

h1,
h3,
input {
  font-family: "Nekst";
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: var(--gray-text-small);
}

p {
  font-family: "Gilroy";
  font-style: normal;
  color: var(--gray-text-small);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.sum {
  color: var(--gray-text-big);
}

@media screen and (min-width:768px) {
  h1 {
    font-size: 54px;
    line-height: 90%;
    color: var(--black-text);
  }

  h3,
  input {
    font-size: 30px;
    line-height: 36px;
  }

  p {
    font-size: 16px;
    line-height: 20px;

  }

  .result-text {
    line-height: 24px;
    margin-bottom: 8px;
  }

  @include normal(68px, 24px, 16px, 24px);

}

@media screen and (max-width:768px) {
  h1 {
    font-size: 34px;
    font-weight: bold;
    line-height: 30.6px;
    color: var(--black-text);

  }

  h3,
  input {
    font-size: 22px;
    line-height: 20px;
  }

  p {
    font-size: 14px;
    line-height: 19.4px;
  }

  .result-text {
    margin-bottom: 2px;
  }

  @include normal(60px, 8px, 20px, 20px);

}

.result-item {
  h1 {
    color: --gray-text-big;
  }
}

.description {
  visibility: hidden;
}

.btn {
  height: 68px;
  background: var(--main);
  border: 0px;
  border-radius: 40px;
  cursor: pointer;

  h3 {
    color: var(--white);
  }

  &:hover {
    background: var(--black-text);
  }

  &:active {
    background: var(--gray-text-small);
  }

  &:disabled {
    background: var(--disabled);
  }

}

.item {
  margin: auto;
  height: 119px;
}

.fee-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  border-radius: 16px;
  background-color: var(--gray-main);

  h3 {
    padding-left: 24px;
    text-overflow: clip;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 24px;
  right: 24px;
}

.wrapper {
  position: relative;
  padding: 7px 7px 7px 0;
  height: 54px;
  width: 70px;
}

.inp-fee {
  height: 24px;
  width: 33px !important;
  padding: 15px 17px 15px 15px !important;
  font-size: 20px;
  border-radius: 16px !important;
  border: 0px;
  background: var(--gray-fee);
}

.wrapper span {
  position: absolute;
  left: 40px;
  top: 22px;
  font-size: 20px;
}

input[type="number"] {

  &:focus {
    outline: none;
    background-color: var(--white);
  }

  &:disabled {
    background-color: var(--white);
    color: var(--text-disabled) !important;
  }
}

.span-disable {
  color: var(--text-disabled) !important;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  display: block;
  box-sizing: border-box;
  height: 2px;
  background: var(--main);

  &:disabled {
    background: var(--disabled);
  }
}

input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: var(--main);
  overflow: visible;
  cursor: pointer;

  &:active {
    width: 24px;
    height: 24px;
    margin-top: -12px;
  }
}


@mixin track {
  display: block;
  box-sizing: border-box;
  height: 2px;
  background: var(--main);

  &:disabled {
    background: var(--disabled);
  }
}

@mixin thumb {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: var(--main);
  overflow: visible;
  cursor: pointer;

  &:active {
    width: 24px;
    height: 24px;
    margin-top: -12px;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  @include track;
}

input[type="range"]::-webkit-slider-thumb {
  @include thumb;
}

//мозила
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
}

input[type="range"]::-moz-range-track {
  @include track;
}

input[type="range"]::-moz-range-thumb {
  @include thumb;
}

//опера
input[type="range"]::-o-thumb {
  -o-appearance: none;
}

input[type="range"]::-o-track {
  @include track;
}

input[type="range"]::-o-thumb {
  @include thumb;
}

/////
input[type="range"]::-ms-thumb {
  -o-appearance: none;
}

input[type="range"]::-ms-track {
  @include track;
}

input[type="range"]::-ms-thumb {
  @include thumb;
}