@import 'screen320px.scss';
@import 'screen768px.scss';
@import 'screen1120px.scss';
@import 'screen1440px.scss';

:root{
  --white: #ffffff;
  --main: #FF9514;
  --black: #000000;
  --gray-text-small: #575757;
  --gray-text-big: #333333;
  --gray-main: #F3F3F4;

}
@font-face {
  font-weight: 400;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.ttf")
}

@font-face {
  font-weight: 400;
  font-family: "Nekst";
  src: url("../fonts/Nekst-Black.ttf");
}

body {
    margin: 0;
    font-family: "Nekst", "Gilroy" ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  h1, h3, input{
    font-family: "Nekst";
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: --gray-text-big;
  }
  h1{
    font-size: 54px;
    line-height: 48.6px;
 
  }
  h3, input{
    font-size: 30px;
    line-height: 36px;
  }
   p {
    font-family: "Gilroy", sans-serif;
    color: var(--gray-text-small);
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .result-item {
    h1 {
     color: --gray-text-big;
    }
  }
  

.description{
    visibility: hidden;
}  
.btn{
  height: 68px;
  color: var(--white);
  background: var(--main);
  border: 0px;
  border-radius: 50px;
  cursor: pointer;

}
.item{
  margin: auto;
  height: 119px;
  padding: 0 20px;
}
.fee-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ppt{
  width: 70px;
  height: 54px;

}

input[type="number"]{
  background: var(--gray-main);
  border: 0px;
}
.fee-field{
  display: block!important;
  width: 40px;
  height: 40px;
}
span {
  position: absolute;
  left: 9px;
  
}
.field{
  display: flex;
  justify-content: space-between;
  height: 68px;
  margin-top: 24px;
  background: var(--gray-main);
  border-radius: 15px;


  input{
    width: 100%;
    background: var(--gray-main);
 border-radius: 25px;
 border: 0px;
 padding-left: 24px;

  }
  div {
    background: var(--gray-main);
    margin: 16px 24px 16px 0;

  }
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
  left:24px;
  right: 24px;
  top:55px;
}

.inp-normal:active{

   background: var(--white);
   border: 0px;
   .field{
    background: var(--white);
    border: var(--gray-main);
    
  }
  
  .symbol{
    background: var(--white);
  }

}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%; 
  height: 1px;
  background: var(--main);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 40px;
  width: 39px;
  border-radius: 7px;
  background: #65001C;
  cursor: pointer;
  margin-top: -3.5px;
}
input[type=range]::-webkit-slider-thumb {
 
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: mediumpurple;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffe72e;
}

