@media screen and ( min-width: 1120px) and (max-width:1440px){
    .app{
        margin: 213px 48px;
    }
    .title{
        margin-bottom:32px!important;
        max-width: 753px;
    }
    .container, .result{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .container{
   margin-bottom: 54px;
    }
    .result{
        margin-bottom: 213px;
    }
    .item{
        min-width: 320px;
        width: calc(100% / 3);

        &:not(:first-child){
            margin-left: 32px;
        }
    }

    .btn{
        min-width: 320px;
    }
}