@media screen and (min-width:1440px)  {
    .app{
        margin-bottom: 213px;
    }
    .title{
        margin:213px 0 32px 0!important;
        max-width: 753px;
    }
    .container, .result{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .item{
        min-width: 320px;
        width: calc(100% / 3);

        &:not(:first-child){
            margin-left: 32px;
        }
    }
}